<app-header titulo="Card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in a while,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at repellat eos blanditiis quis expedita molestiae iusto voluptatum vitae aspernatur! Labore aut laudantium sint eius earum enim. Et, a quis.
    </ion-card-content>

  </ion-card>


  <ion-card>
    <img src="https://th.bing.com/th/id/OIP.KPHwRtVP8k79OEI7MErx8wHaEK?w=246&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at repellat eos blanditiis quis expedita molestiae iusto voluptatum vitae aspernatur! Labore aut laudantium sint eius earum enim. Et, a quis.
    </ion-card-content>
  </ion-card>
</ion-content>
